*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

body{
    background-color: #1f1f1f; 
    height: 100%;
}

.home > img{
   
    top: 0;
    left: 0;
    width: 100%;
    height: 84vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.header{
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    transition: background-color .1s ease-in-out;
    z-index: 100;
}

.header.color{
    background-color: #111;
    border-bottom: 2px solid rgba(51, 51, 51, .25);
}

.header .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .content.left{
    gap: 32px;
    padding-left: 36px;
}

.header .content.left .item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-icon{
    margin-left: 5px;
    margin-bottom: 1px;
}

.header .content.left .fist-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85;
    height: 27;
    fill: #f9f9f9;
    margin: 0;
}

.header .content.left .fist-logo:hover{
   cursor: pointer;
    fill: #d1363a;
}

.header .content.left .item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 66px;
    padding: 0;
    margin: auto;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 13px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .08em;
}

.header .content.left .item p{
    text-transform: uppercase;
}

.header .hidden-list{
    border-top: 4px solid #d1363a;
    position: absolute;
    top: 62px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,.2);
    border-radius:  2px;
    background-color: #292929;
    text-align: left;
    font-size: 13px;
    min-width: 200px;
    padding: 16px 32px;
    left: 0;
    display: none;
}

.header .hidden-list.active{
    display: block;
}

.header .underline{
    background-color: rgb(209, 54, 57);
    position: absolute;
    bottom: 0px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    display: none;
}

.header .underline.active{
    display: block;
}

.header .hidden-list li{
    padding: 8px 16px;
    list-style-type: none;
    transition: .1s ease;
}


.header .hidden-list li:not(:last-child){
    margin-bottom: 20px;
}

.header .hidden-list li:hover{
    background-color: rgba(128,128, 128, .3);
    border-radius: 6.4px;
}

.header .content.right{
    padding-right: 32px;
}

.header .content.right > i{
    color: #fff;
    margin-right: 20px;
    cursor: pointer;

}

.header .search-container{
    display: flex;
    justify-content: space-between;
    height: 34.6px;
    padding: 4.8px 22.4px; 
    border-radius: 1.6em;
    box-shadow: inset 0 0 0 1px #f9f9f9;
    font-size: 14px;
    line-height: normal;
    text-align: left;

}

.header .search-container.active{
    background-color: #2b2a29;
    box-shadow: none;
}

.header .search-container input{
    background-color: transparent;
    border: hidden;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    outline: 0;
    color: #fff;
    margin-right: 10px;
}

.header .search-container input::placeholder{
    color: #fff;
}

.header .search-container button{
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.header .login{
    text-align: center;
    cursor: pointer;
    height: 34.6px;
    border-radius: 1.6em;
    padding: .6rem 1.4rem;
    margin-left: 6px;
    margin-top: 18px!important;
    margin-bottom: 20px!important;
    background-color: #d1363a;
    border: none;
    font-weight: 700;
}
main .new-season{
    position: absolute;
    height: 200px;
    top: 35vh;
    left: 2vh;

}
main .novidades{
    padding: 100px 80px;
    color: #fff;
    height: 120vh;
    background: radial-gradient(55% 180% at 5% 100%,rgba(163, 38, 41, 0.3) 0, rgba(193, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
}

main  h2{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 3.75rem;
    font-weight: 700;
}

main .novidades .container{
    display: flex; 
}

main .novidades .container .news-left{
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    transition: .25s ease-out;
    border-radius: 8px;
}

main .novidades .container .news-left > img{
    width: 100%;
    border-radius: 8px;
}

main .novidades .container .news-left h3{
    position: absolute; 
    bottom: 0;
    font-size: 2.5rem;
    padding: 2rem;

}
main .novidades .container .news-left:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.15rem #767676
}

main .novidades .container .news-right{
    list-style: none;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .novidades .container .news-right li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(128,128,128,.2);
    min-height: 120px;
    transition: 0.25s ease-out;
    cursor: pointer;
}

main .novidades .container .news-right li:hover{
    box-shadow: 0px 0px 0px 0.15rem #767676; 
}

main .novidades .container .news-right li h3{
    padding: 1rem 0.5rem 1rem 1.625rem;
    font-size: 1.125rem;
    line-height: 1.2;
}

main .novidades .container p{
    margin-top: 5px;
    letter-spacing: .0.9rem;
    text-transform: uppercase;
    color: rgba(101,100,98,.9);
    font-size: 1rem;
}


main .novidades .container .news-right img{
    height: 100%;
    max-width: 40%;
    border-radius: 0px 8px 8px 0px;
    clip-path: polygon(15% 0,100% 0,100% 100%,0 100%);
}

main .second-section .our-games{
    padding: 100px 80px 0px 80px;
}



main .second-section .our-games ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    list-style: none;
    gap: 20px;
}

main .second-section .our-games ul li{
    position: relative;
    flex: 0 1 calc(50% - 10px);
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.25s ease-out;
}

main .second-section .our-games ul li:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.15rem #767676; 
}

main .second-section .our-games img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

main .second-section .our-games .game-logo{
    position: absolute;
    object-fit: contain;
    max-width: 20%;
    left: 55px;
}

main .second-section .esports {
    padding: 0px 80px 0px 80px;
    margin-top: 3.75rem;
}

main .second-section .esports ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    list-style: none;
    gap: 20px;
}

main .second-section .esports ul li{
    position: relative;
    flex: 0 1 calc(50% - 10px);
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.25s ease-out;
}

main .second-section .esports img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

main .second-section .esports .esport-logo{
    position: absolute;
    object-fit: contain;
    max-width: 20%;
    left: 55px;
}

main .second-section .esports ul li:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.15rem #767676; 
}

main .second-section .entretenimento{
    margin-top: 3.75rem;
    padding: 0px 80px 0px 80px;
}

main .second-section .entretenimento ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    list-style: none;
    gap: 20px;
}

main .second-section .entretenimento ul li{
    position: relative;
    flex: 0 1 calc(50% - 10px);
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.25s ease-out;
}

main .second-section .entretenimento img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

main .second-section .entretenimento .entretenimento-logo{
    position: absolute;
    object-fit: contain;
    max-width: 20%;
    left: 55px;
}

main .second-section .entretenimento ul li:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.15rem #767676; 
}

main .second-section .riot-forge{
    margin-top: 3.75rem;
    padding: 0px 80px 0px 80px;
}

main .second-section .riot-forge .tittle-button{
    display: flex;
    justify-content: space-between;
}

main .second-section .riot-forge .tittle-button .carrossel-button{
    display: flex;
    gap: 30px;
    margin-right: 10px;
}

main .second-section .riot-forge .tittle-button .carrossel-button i{
    font-size: 18px;
    transition: 0.3s;
}

main .second-section .riot-forge .tittle-button .carrossel-button i:hover{
    color: #fff; 
}

main .second-section .riot-forge .tittle-button button{
   background: none;
   color:#767676; 
   border: none;
   cursor: pointer;
}

main .second-section .riot-forge .carrossel-wrapper{
    position: relative;
}

main .second-section .riot-forge .carrossel-wrapper .carrossel{
    white-space: nowrap;
    font-size: 0px;
    overflow: scroll;
    scroll-behavior: smooth; 
}

main .second-section .riot-forge .carrossel-wrapper .carrossel img{
    height: 100%;
    cursor: pointer;
    margin: 10px 10px 10px 10px;
    width: calc((100% / 3) - 20px);
    object-fit: cover;
    border-radius: 8px;
    transition: 0.25s ease-out;
}

main .second-section .riot-forge .carrossel-wrapper .carrossel img:hover{
    box-shadow: 0px 0px 0px 0.15rem #767676; 
}

main .vagas{
    background-color: #e7e6e3;
    margin-top: 100px;
    display: flex;
    height: 100%;
    flex: 1 1 50%;
}

main .vagas .vagas-inner{
    padding: 80px 45px;
    text-align: center;
}

main .vagas .vagas-inner h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

main .vagas .vagas-inner > p{
    font-size: 1.25rem;
    color: #656462;
    line-height: 1.2;
    letter-spacing: -.03rem;
    margin: 0 auto 2.5rem;
    font-weight: 600;
}

main .vagas .vagas-inner .vagas-count{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

main .vagas .vagas-inner .vagas-count p{
    background-color: rgba(173,172,170,.2);
    padding: 20px;
    flex: 1 1 260px;
    text-align: center;
    border-radius: 8px;
    transition: 0.1s ease;
    color: #656462;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.2;
}

main .vagas .vagas-inner .vagas-count span{
    color: #0a0a0a;
    font-size: 3.75rem;
    font-weight: 700;
}

main .vagas .vagas-inner .vagas-count p:hover{
    cursor: pointer;
    background-color:#c0bfbe
 
}

main .vagas .vagas-inner button{
    padding: 22px 16px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    background-color: #d1363a;
    color: #f9f9f9;
    border: none;
    border-radius: 24px;
    min-width: 260px;
    cursor: pointer;
    letter-spacing: .025rem;
    transition: .3s ease-out;
}

main .vagas .vagas-inner button:hover{
    background-color:#eb585d;
}

main .vagas img{
    clip-path: polygon(10% 0,100% 0,100% 100%,0 100%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 600px;
}
footer{
    background-color: #252423;
    padding: 0px 40px 30px;

}
footer .footer-inner{
    display: flex;
    position: relative;
    color: #8a8887;
    text-align: center; 
    align-items: center;   
    padding: 30px 0;
}

footer .footer-inner svg{
    vertical-align: top;
    margin-right:20px;
    fill: #8a8887;
    transition: 0.2s;
}

footer .footer-inner svg:hover{
   cursor: pointer;
    fill: #d1363a;
}

footer a{
    color: #8a8887;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 800;
    letter-spacing: .08rem;
    font-size: 11px;
    margin: 0 8px;
    transition: 0.3s ease;
}

footer a:hover{
    color: #e7e6e3;
    text-decoration:underline
}

footer .footer-inner .social-media{
    position: absolute;
    cursor: default;
    right: 20px;
}

footer .footer-inner .social-media i{
    padding: 0 15px;
    transition: 0.3s;
}

footer .footer-inner .social-media i:hover{
    cursor: pointer;
    color: #d1363a;
}

footer .copyright{
    display: flex;
    position: relative;
    text-align: center; 
    align-items: center;   
    padding: 30px 0;
}

footer .copyright a{
   padding: 0px;
   margin: 0px;
}

footer .copyright p{
    color: #8a8887;
    font-size: 12px;
    font-weight: 600;
}

footer .copyright .vertical-line{
    border: 1px solid #656462;
    height: 20px;
    margin: 0 20px;
}

footer .copyright .top{
    right: 0;
    position: absolute;
    font-size: 14px; 
    background: none;
    color: #8a8887;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    transition: 0.3s ease;
}

footer .copyright .top:hover{
    cursor: pointer;
    color: #e7e6e3;

}

footer .copyright .top:hover{
    text-decoration: none; 
}

footer hr{
    height: 1px;
    background-color: #8a8887;
    border: none;

}

.mensagem-tela-pequena {
    display: none;
    text-align: center;
    font-size: 25px;
    margin-top: 40vh;
    color: #fff;
  }

::-webkit-scrollbar {
    width: 0; /* Largura da barra de rolagem */
}

::selection {
    background-color: #ff0000; /* Cor de fundo da seleção */
}

@media screen and (max-width: 1060px) {
    .home {
      display: none;
      background-color: #1f1f1f; 
    }

    body{
        display: flex;
        padding: 20px;
    }

    .mensagem-tela-pequena{
        display: flex;
    }
   
  }

