*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}

body{
    height: 1000vh;
    background-color: #1f1f1f; 
}

.home > img{
    top: 0;
    left: 0;
    width: 100%;
    height: 84vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.header{
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    transition: background-color .1s ease-in-out;
    z-index: 100;
}

.header.color{
    background-color: #111;
    border-bottom: 2px solid rgba(51, 51, 51, .25);
}

.header .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .content.left{
    gap: 32px;
    padding-left: 36px;
}

.header .content.left .item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-icon{
    margin-left: 5px;
    margin-bottom: 1px;
}

.header .content.left .fist-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85;
    height: 27;
    fill: #f9f9f9;
    margin: 0;
}

.header .content.left .fist-logo:hover{
   cursor: pointer;
    fill: #d1363a;
}

.header .content.left .item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 66px;
    padding: 0;
    margin: auto;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 13px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .08em;
}

.header .content.left .item p{
    text-transform: uppercase;
}

.header .hidden-list{
    border-top: 4px solid #d1363a;
    position: absolute;
    top: 62px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,.2);
    border-radius:  2px;
    background-color: #292929;
    text-align: left;
    font-size: 13px;
    min-width: 200px;
    padding: 16px 32px;
    left: 0;
    display: none;
}

.header .hidden-list.active{
    display: block;
}

.header .underline{
    background-color: rgb(209, 54, 57);
    position: absolute;
    bottom: 0px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    display: none;
}

.header .underline.active{
    display: block;
}

.header .hidden-list li{
    padding: 8px 16px;
    list-style-type: none;
    transition: .1s ease;
}


.header .hidden-list li:not(:last-child){
    margin-bottom: 20px;
}

.header .hidden-list li:hover{
    background-color: rgba(128,128, 128, .3);
    border-radius: 6.4px;
}

.header .content.right{
    padding-right: 32px;
}

.header .content.right > i{
    color: #fff;
    margin-right: 20px;
    cursor: pointer;

}

.header .search-container{
    display: flex;
    justify-content: space-between;
    height: 34.6px;
    padding: 4.8px 22.4px; 
    border-radius: 1.6em;
    box-shadow: inset 0 0 0 1px #f9f9f9;
    font-size: 14px;
    line-height: normal;
    text-align: left;

}

.header .search-container.active{
    background-color: #2b2a29;
    box-shadow: none;
}

.header .search-container input{
    background-color: transparent;
    border: hidden;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    outline: 0;
    color: #fff;
    margin-right: 10px;
}

.header .search-container input::placeholder{
    color: #fff;
}

.header .search-container button{
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.header .login{
    text-align: center;
    cursor: pointer;
    height: 34.6px;
    border-radius: 1.6em;
    padding: .6rem 1.4rem;
    margin-left: 6px;
    margin-top: 18px!important;
    margin-bottom: 20px!important;
    background-color: #d1363a;
    border: none;
    font-weight: 700;
}

main .novidades{
    padding: 100px 80px;
    color: #fff;
    height: 120vh;
    background: radial-gradient(55% 180% at 5% 100%,rgba(163, 38, 41, 0.3) 0, rgba(193, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
}

main  h2{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 3.75rem;
    font-weight: 700;
}

main .novidades .container{
    display: flex; 
}

main .novidades .container .news-left{
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 20px;
    transition: .25s ease-out;
    border-radius: 8px;
}

main .novidades .container .news-left > img{
    width: 100%;
    border-radius: 8px;
}

main .novidades .container .news-left h3{
    position: absolute; 
    bottom: 0;
    font-size: 2.5rem;
    padding: 2rem;

}
main .novidades .container .news-left:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.15rem #767676
}

main .novidades .container .news-right{
    list-style: none;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .novidades .container .news-right li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(128,128,128,.2);
    min-height: 120px;
    transition: 0.25s ease-out;
    cursor: pointer;
}

main .novidades .container .news-right li:hover{
    box-shadow: 0px 0px 0px 0.15rem #767676; 
}

main .novidades .container .news-right li h3{
    padding: 1rem 0.5rem 1rem 1.625rem;
    font-size: 1.125rem;
    line-height: 1.2;
}

main .novidades .container p{
    margin-top: 5px;
    letter-spacing: .0.9rem;
    text-transform: uppercase;
    color: rgba(101,100,98,.9);
    font-size: 1rem;
}


main .novidades .container .news-right img{
    height: 100%;
    max-width: 40%;
    border-radius: 0px 8px 8px 0px;
    clip-path: polygon(15% 0,100% 0,100% 100%,0 100%);
}

main .second-section .our-games{
    padding: 100px 80px 0px 80px;
}



main .second-section .our-games ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    list-style: none;
    gap: 20px;
}

main .second-section .our-games ul li{
    position: relative;
    flex: 0 1 calc(50% - 10px);
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.25s ease-out;
}

main .second-section .our-games ul li:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.15rem #767676; 
}

main .second-section .our-games img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
}

main .second-section .our-games .game-logo{
    position: absolute;
    object-fit: contain;
    max-width: 20%;
    left: 55px;
}

main .second-section .esports {
    padding: 0px 80px 0px 80px;
    margin-top: 3.75rem;
}

main .second-section .esports .esports-list{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

main .second-section .esports .esports-list img{
    border-radius: 8px;
    width: calc(50% - 10px);
    object-fit: cover;
    background-size: cover;
    transition: 0.25s ease-out;
}

main .second-section .esports .esports-list img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.15rem #767676; 
}

main .second-section .entretenimento{
    margin-top: 3.75rem;
    padding: 0px 80px 0px 80px;
}

main .second-section .entretenimento .entretenimento-list{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

main .second-section .entretenimento .entretenimento-list img{
    border-radius: 8px;
    width: calc(50% - 10px);
    object-fit: cover;
    background-size: cover;
    transition: 0.25s ease-out;
}

main .second-section .entretenimento .entretenimento-list img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.15rem #767676; 
}

main .second-section .riot-forge{
    margin-top: 3.75rem;
    padding: 0px 80px 0px 80px;
}

main .second-section .riot-forge .tittle-button{
    display: flex;
    justify-content: space-between;
}

main .second-section .riot-forge .tittle-button .carrossel-button{
    display: flex;
    gap: 30px;
    margin-right: 10px;
}

main .second-section .riot-forge .tittle-button button{
   background: none;
   color: #fff;
   border: none;
   cursor: pointer;
}

main .second-section .riot-forge .carrossel-wrapper{
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
}


main .second-section .riot-forge .carrossel-wrapper .carrossel img{
    height: 100%;
    margin: 0px 10px 0px 10px;
    width: calc((100% / 3) - 20px);
    object-fit: cover;
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 0; /* Largura da barra de rolagem */
}